<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UTMSPACE_HostelBookingSystem">
        <activity
            android:name=".AdminProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ManagementActivity"
            android:exported="false" />
        <activity
            android:name=".RoomManagementActivity"
            android:exported="false" />
        <activity
            android:name=".UserManagementActivity"
            android:exported="false" />
        <activity
            android:name=".TechnicianHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".TechnicianRepairDetailActivity"
            android:exported="false" />
        <activity
            android:name=".TechnicianRepairRequestActivity"
            android:exported="false" />
        <activity
            android:name=".StaffRepairDetailActivity"
            android:exported="false" />
        <activity
            android:name=".StaffRepairTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".StaffRepairRequestActivity"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".FullImageActivity"
            android:exported="false" />
        <activity
            android:name=".StaffRoomDetailActivity"
            android:exported="false" />
        <activity
            android:name=".StaffRoomListActivity"
            android:exported="false" />
        <activity
            android:name=".StaffActionActivity"
            android:exported="false" />
        <activity
            android:name=".BookingManagementActivity"
            android:exported="false" />
        <activity
            android:name=".BookingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ApplyActivity"
            android:exported="false" />
        <activity
            android:name=".RoomDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilePasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".EditInfoActivity"
            android:exported="false" />
        <activity
            android:name=".RoomListActivity"
            android:exported="false" />
        <activity
            android:name=".BookingsActivity"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".TechnicianDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".StaffDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".StudentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".TermsActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>